body {
  margin: 0;
  font-family: sans-serif;
}

/* FORMULARIO LOGIN*/

*{
  box-sizing: border-box;
  }
.login-title {
    text-align: center;
    color:rgba(70,63,87)
  }  
.login-page{
  display: flex;
}
.login {
  width: 30%;
  height: 100vh;
  background: #FFF;
  padding: 70px;
}
.login a {
  margin-top: 25px;
  text-align: center;
}

.icon {
  padding: 4px;
  color: rgb(61, 31, 194);
  min-width: 30px;
  text-align: center;
}
.login-form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.login-form label {
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 20px;
  display: block;
  color: rgb(127, 85, 204);
}
.input-email{
  width: 100%;
  background: #DDD;
  border-radius: 25px;
  margin: 4px 0 10px 0;
  padding: 10px;
  display: flex;
}
.input-password {
  width: 100%;
  background: #DDD;
  border-radius: 25px;
  margin: 4px 0 10px 0;
  padding: 10px;
  display: flex;
}
input[type="email"]{
  width: 100%;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 4px 0;
  outline: none;
}
input[type="password"] {
  width: 100%;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 4px 0;
  outline: none;
}
.buttonsubmit{
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 14px;
  background: #463f57;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  transition: ease all 0.3s;
}
.buttonsubmit:hover {
  opacity: 0.9;
}

.Link {
  color: #666;
  font-size: 14px;
  display: block;
}
.background {
  width: 70%;
  padding: 40px;
  height: 100vh;
  background: linear-gradient(60deg, rgba(158, 189, 19, 0.5), rgba(70,63,87)), url('https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_960_720.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
}
.background h1 {
  max-width: 420px;
  color: #FFF;
  font-family: "HK Modular";
  text-align: right;
  padding: 0;
  margin: 0;
}
.background p {
  max-width: 650px;
  color: #1a1a1a;
  font-size: 15px;
  font-family: "HK Modular";
  text-align: right;
  padding: 0;
  margin: 15px 0 0 0;
}

/*FORMULARIO REGISTRO*/

.registro-candidato {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #94cf35;
  border-radius: 25px;
}